<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách admin</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        table{
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Danh sách admin</h1>
<table>
    <tr>
        <th>ID</th>
        <th>ADMIN_NAME</th>
        <th>TEN</th>
        <!-- Thêm các cột khác nếu cần -->
    </tr>
    <!-- Dùng Thymeleaf để lặp qua danh sách các admin và hiển thị -->
    <tr th:each="admin : ${admins}">
        <td th:text="${admin.id}"></td>
        <td th:text="${admin.admin_name}"></td>
        <td th:text="${admin.ten}"></td>

    </tr>
</table>
</body>
</html>